@font-face {
  font-family: "iconfont"; /* Project id 2631790 */
  src: url('iconfont.woff2?t=1625404904906') format('woff2'),
       url('iconfont.woff?t=1625404904906') format('woff'),
       url('iconfont.ttf?t=1625404904906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before {
  content: "\e6c9";
}

.icon-guanbi:before {
  content: "\e61f";
}

.icon-icon:before {
  content: "\e607";
}

.icon-xiazai1:before {
  content: "\e600";
}

.icon-iconzhengli_shouji:before {
  content: "\e648";
}

.icon-xiuli:before {
  content: "\e624";
}

.icon-kefu:before {
  content: "\f467";
}

.icon-fanhuidingbu:before {
  content: "\e62b";
}

.icon-xiangxia:before {
  content: "\e74a";
}

.icon-liaotian:before {
  content: "\e640";
}

.icon-xiaoxi:before {
  content: "\e63f";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-7tiantuihuan:before {
  content: "\e691";
}

.icon-baoyou:before {
  content: "\e63e";
}

.icon-wechat-fill:before {
  content: "\e645";
}

.icon-weixiu:before {
  content: "\e74b";
}

.icon-weibo:before {
  content: "\ea8c";
}

.icon-location:before {
  content: "\ebeb";
}

.icon-bofang:before {
  content: "\e881";
}

.icon-tongdao:before {
  content: "\e60c";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-huafei:before {
  content: "\e614";
}

.icon-sim:before {
  content: "\e946";
}

.icon-transaction:before {
  content: "\ebff";
}

.icon-shizhong:before {
  content: "\e652";
}

.icon-you-:before {
  content: "\e619";
}

.icon-zuo-:before {
  content: "\e61a";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-xiangyou1:before {
  content: "\e61b";
}

.icon-ziyuan:before {
  content: "\e622";
}

.icon-xiangyou:before {
  content: "\e68b";
}

.icon-yonghu:before {
  content: "\e618";
}

